
ul li {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.window{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: seashell;
    box-sizing: border-box;
}

.home {    
    width: 100vw;
    height: 100vh;
    background-image: url("./Images/Home2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}

    .shopLinkContainer {
        height: 6.5vh;
        width: 10vw;
        position: absolute;
        left: 28vw;
        bottom: 23.5vw;
        box-sizing: border-box;
    }

        .shopLink {
            font-size: 25px;
            text-align: center;
            width: inherit;
            height: inherit;
            background: black;
            color: seashell;
            box-sizing: border-box;
            padding-top: 5%;
            position: sticky;

       }

       .shopLink:hover {
        border: solid;
        border-color: seashell;
        margin: 0;
        padding-top: 2.5%;
        
    }
    
.shop {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    .shopWindow {
        height: inherit;
        width: 80%;
    }

    .shopGrid {
        max-height: 83%;
        width: 100%;
        border: solid;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 50%);
        gap: 5%;
        margin: 0;
        padding: 0;
        border: none;
        justify-items: center;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .shopTitle {
        height: 20%;
        width: inherit;
        color: black;
        font-size: 1.5vw;
        text-align: center;
        text-decoration: underline;
        margin-top: 2%;
        width: 100%;
    }


    .itemCard {
        background-color: seashell;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-color: black;
        border: solid;
        margin-bottom: 5%;
        box-sizing: border-box;
        position: relative;
    }

    .itemCard:hover {
        cursor: pointer;
        border-width: 5px;
    }

        .itemImage {
            width: 220px;
            height: 220px;
            object-fit: cover;
            border-bottom: black;
            border-bottom: solid;
        }
    
    #modalBackground {
        display: none;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
        overflow: hidden;
        padding-right: 15px;
    }

        .itemModal {
            display: none;
            position: absolute;
            left: 20%;
            top:10%;
            height: 80%;
            width: 60%;
            background-color: seashell;
            border: black;
            border: solid;
            z-index: 3;
        }

        .modalImage {
            width: 50%;
            height: 100%;
            object-fit: cover;
            border-bottom: black;
            border-right: black;
            border-bottom: solid;
            border-right: solid;
        }

        .modalDiv {
            display: flex;
            flex-direction: column;
            align-content: center;
            height:100%;
            width: 100%;
        }

        .modalTitle {
            display: flex;
            height: 5%;
            width: inherit;
            color: black;
            font-size: 1.5vw;
            text-decoration: underline;
            margin-top: 2%;
            width: 100%;
        }

        .modalText {
            font-size: 1vw;


        }

        .addToCart {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            gap: 5%;
        }


.navbar {
    height: 8vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 3;
    justify-content: space-between;
}

    .altNav {
        height: 8vh;
        width: 100vw;
        background-color: black;
        border-bottom: solid;
        border-color:black;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 2;

    }

    .logo {
        height:inherit;
        width: 10%;
        font-size: 2.8vw;
        font: 2.8vh;
        color: seashell;
        margin-left: 2vw;
    }

        .altLogo {
            height:inherit;
            width: 50%;
            font-size: 2.8vw;
            font: 2.8vh;
            color: seashell;
            margin-left: 2vw;
    }


    .cartDiv {
        height:inherit;
        width: 7%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
    }

    .cartDiv:hover {
        cursor: pointer;
    }


        .shoppingCart {
            width: 70%;
            height: 65%;
            object-fit: contain;

        }


        .cartNumber {
            font-size: 1.5vw;
            height: 13%;
            width: 30%;
            color: seashell;
            padding-right: 15%;
        }

    .cartPreviewDiv {
        height: 92vh;
        width: 25vw;
        background-color: rgb(255, 245, 238);
        position: absolute;
        display: none;
        left: 75vw;
        top: 8vh;
        border: solid;
        border-color:black;
        border-top: none;
        flex-direction: column;
        z-index: 3;
        overflow-y: hidden ;
        overflow-x: hidden;
        
    }

    .cartPreviewDiv:hover {
        cursor: default;
    }

        .cartItemsPreview {
            height: inherit;
            width: 100%;
            display: flex;
            flex-direction: column;
            z-index: inherit;
            gap: 5%;
            align-items: center;
            padding-top: 4vh;
            padding-bottom: 15vh;
            overflow-y: auto;
        }

        .cartPreviewItem {
            height: 10vh;
            width: 80%;
            display: flex;
            flex-direction: row;
            gap: 0%;
            align-items: center;
            border-color:black;
            border:solid;
            align-content: center;
            justify-content: center;

        }

            .removeCartItem {
                height: 25%;
                color: black;
                width: 4.5%;
                text-align: center;
                border: solid;
                border-color: black;
                border-width: 1px;
                cursor: pointer;
            }
            
            .removeCartItem:hover {
                background-color: black;
                color: seashell;
            }

            .quantityButtons {
                height: inherit;
                width: 15%;
                display: flex;
                flex-direction: column;
                gap: 10%;
                align-items: center;
                justify-content: center;
            }

                .quantityButton {
                    height: 22%;
                    width: 25%;
                    cursor: pointer;
                    object-fit: cover;
                    border: solid;
                    border-color: black;
                    text-align: center;
                    border-width: 1px;
                    display: flex;

                }

                .quantityButton:hover {
                    background-color: black;
                    color: seashell;
                }

                
                .quantityTextPlus{
                    padding-left: 7%;

                }

                .quantityTextMinus{
                    padding-left: 25%;

                }
            
            .itemFirstSection {
                height: 60%;
                width: 35%;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .cartPreviewNameDiv {
                height:100%;
                width:70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
            }

            .cartPreviewName {
                height: 50%;
                width: 100%;
                font-size: 2.4vh;

            }

            .cartPreviewPrice {
                height: 28%;
                width: 20%;
                text-align: center;

            }

            .cartPreviewQuantity {
                height: 50%;
                width: 30%;
                font-size: 2.5vh;
            }
        

        .checkoutLink {
            border-radius: 0;
            margin: 0;
            padding: 0;
            background-color: black;
            color: seashell;
            cursor: pointer;
            text-align: center;
            height: 10vh;
            z-index: 3;
            width: 100%;
        }

        .emptyCart {
            height: inherit;
            width:inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cartTotal {
            height: 3vh;
            width: 100%;
            border-top: solid;
            border-color: black;
            text-align: center;
            z-index: 2;
            background-color: seashell;
        }

        .previewLinks {
            position: absolute;
            width: 26vw;
            top: 86%;

        }

a {
    text-decoration: inherit;
    color: inherit;
}

.checkoutPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.checkoutImg {
        width: 100vw;
        height: 70vh;
        background-image: url("./Images/Checkout.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        box-sizing: border-box;
        border-bottom: solid;
        border-color: black;
}


.checkoutInfo {
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: black;
    }


.returnToShop {
    height: 6vh;
    width: 11vw;
    position: absolute;
    right: 80.5%;
    top: 74%;
    text-align: center;
    padding-top: 1.5%;
    padding-left: 2%;
    z-index: 2;
}

    .returnToShop:hover {
        cursor: pointer;
    }

.returnArrow {
    position: absolute;
    width: 2vw;
    object-fit: cover;
    right: 91%;
    top: 75%;
    z-index: 1;
}