
ul li {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.window{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: seashell;
    box-sizing: border-box;
}

.home {    
    width: 100vw;
    height: 100vh;
    background-image: url("./Images/Home2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}

    .shopLinkContainer {
        height: 5vh;
        width: 10vw;
        position: absolute;
        left: 28vw;
        bottom: 23.5vw;
    }

        .shopLink {
            font-size: 25px;
            text-align: center;
            padding-top: 1vh;
            padding-bottom: 0.5vh;
            height: inherit;
            width: inherit;
            background: black;
            color: seashell;

       }

.shop {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    .shopWindow {
        height: inherit;
        width: 80%;
    }

    .shopGrid {
        max-height: 83%;
        width: 100%;
        border: solid;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 50%);
        gap: 5%;
        margin: 0;
        padding: 0;
        border: none;
        justify-items: center;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .shopTitle {
        height: 20%;
        width: inherit;
        color: black;
        font-size: 1.5vw;
        text-align: center;
        text-decoration: underline;
        margin-top: 2%;
        width: 100%;
    }


    .itemCard {
        background-color: seashell;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-color: black;
        border: solid;
        margin-bottom: 5%;
        box-sizing: border-box;
        position: relative;
    }

    .itemCard:hover {
        cursor: pointer;
        border-width: 5px;
    }

        .itemImage {
            width: 220px;
            height: 220px;
            object-fit: cover;
            border-bottom: black;
            border-bottom: solid;
        }
    
    #modalBackground {
        display: none;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
        overflow: hidden;
        padding-right: 15px;
    }

        .itemModal {
            display: none;
            position: absolute;
            left: 20%;
            top:10%;
            height: 80%;
            width: 60%;
            background-color: seashell;
            border: black;
            border: solid;
            z-index: 3;
        }

        .modalImage {
            width: 50%;
            height: 100%;
            object-fit: cover;
            border-bottom: black;
            border-right: black;
            border-bottom: solid;
            border-right: solid;
        }

        .modalDiv {
            display: flex;
            flex-direction: column;
            align-content: center;
            height:100%;
            width: 100%;
        }

        .modalTitle {
            display: flex;
            height: 5%;
            width: inherit;
            color: black;
            font-size: 1.5vw;
            text-decoration: underline;
            margin-top: 2%;
            width: 100%;
        }

        .modalText {
            font-size: 1vw;


        }

        .addToCart {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            gap: 5%;
        }


.navbar {
    height: 8vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 3;
    justify-content: space-between;
}

    .altNav {
        height: 8vh;
        width: 100vw;
        background-color: black;
        border-bottom: solid;
        border-color:black;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 2;

    }

    .logo {
        height:inherit;
        width: 10%;
        font-size: 2.8vw;
        font: 2.8vh;
        color: seashell;
        margin-left: 2vw;
    }

        .altLogo {
            height:inherit;
            width: 50%;
            font-size: 2.8vw;
            font: 2.8vh;
            color: seashell;
            margin-left: 2vw;
    }


    .cartDiv {
        height:inherit;
        width: 7%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

        .shoppingCart {
            width: 70%;
            height: 65%;
            object-fit: contain;

        }

        .shoppingCart:hover {
            cursor: pointer;
        }

        .cartNumber {
            font-size: 1.5vw;
            height: 13%;
            width: 30%;
            color: seashell;
            padding-right: 15%;
        }

        .cartNumber:hover {
            cursor: pointer;
        }

    .cartPreviewDiv {
        height: 100vh;
        width: 20vw;
        background-color: rgb(255, 245, 238);
        position: absolute;
        display: none;
        left: 80vw;
        top: 8vh;
        border: solid;
        border-color:black;
        border-top: none;
        flex-direction: column;
        z-index: 3;
    }

        .cartItemsPreview {
            height: inherit;
            width:inherit;
            display: flex;
            flex-direction: column;
            z-index: inherit;

        }

        .cartPreviewItem {
            height: 40%;
            width: 90%;
            display: flex;
            flex-direction: row;
            margin-left: 5%;
            margin-right: 5%;
            gap: 10%;
            align-items: center;

        }

            .removeCartItem {
                height: 42%;
                color: black;
                width: 7%;
                text-align: center;
                border: solid;
                border-color: black;
                border-width: 1px;
                margin-right: 5%;
                cursor: pointer;
            }
            
            .removeCartItem:hover {
                background-color: black;
                color: seashell;
            }

            .quantityButtons {
                height: inherit;
                width: 25%;
                display: flex;
                flex-direction: column;
                gap: 10%;
            }

                .quantityButton {
                    height: 50%;
                    width: 20%;
                    cursor: pointer;
                    object-fit: cover;
                    border: solid;
                    border-color: black;
                    text-align: center;
                    border-width: 1px;

                }

                .quantityButton:hover {
                    background-color: black;
                    color: seashell;
                }
                

            .cartPreviewName {
                height: inherit;
                width: 10%;

            }

            .cartPreviewPrice {
                height: inherit;
                width: 10%;
            }

            .cartPreviewQuantity {
                height: inherit;
                width: 10%;
            }

        .cartPreviewItemFaded {
            height: 6%;
            width: 90%;
            display: flex;
            flex-direction: row;
            margin-left: 5%;
            margin-right: 5%;
            opacity: 50%;
            gap: 30%;
            z-index: 1;
        }
        

        .checkoutLink {
            border-radius: 0;
            margin: 0;
            padding: 0;
            background-color: black;
            color: seashell;
            cursor: pointer;
            text-align: center;
            padding-top: 2.5%;
            height: 13%;
            z-index: 3;
        }

        .emptyCart {
            height: inherit;
            width:inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cartTotal {
            height: 10%;
            width: 100%;
            border-top: solid;
            border-color: black;
            text-align: center;
            z-index: 2;
            background-color: seashell;
        }

a {
    text-decoration: inherit;
    color: inherit;
}