* {
    font-family: 'Urbanist', sans-serif;
}

::-webkit-scrollbar {
    width: 1vmax;
    
}
::-webkit-scrollbar-track {
    background: #bdbdbd;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    
  }

  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }

  ::-webkit-scrollbar-button {
      height: 60%;
  }

  @media only screen and (max-width: 500px) {

    .window {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
      }
    
  }


ul li {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
    overflow-x: hidden;
}

.window{
    max-width: 100vw;
    height: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: seashell;
    box-sizing: border-box;
}

.home {    
    width: 100vw;
    height: 100vh;
    background: rgb(25,48,84);
background: linear-gradient(0deg, rgba(25,48,84,1) 0%, rgba(13,195,147,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0.5px;
}

    .homeText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 50vh;

    }

    .homeP {
        color: rgba(255, 245, 238, 0.85);
        font-size: 1.4vmax;
        height: 7vh;

    }

    .homeTitle {
        color: seashell;
        font-size: 3vmax;
        height: 3vh;
    }



    .homeImage {
        width: 50vw;
        height: 92vh;
        object-fit: cover;
        margin-top: 8vh;
        border-left: solid 2px seashell;
    }



    .shopLink{
        width: 8vw;
        height: auto;
        color: white;
        text-decoration: none;
        text-align: center;
        border: 2px solid seashell;
        background: linear-gradient(to left, transparent 50%, seashell 0%) right;
        background-size: 200%;
        transition: .5s ease-out;
        box-sizing: border-box;
        margin: 0;
        padding: 5%;
        
    }


    .shopLink:hover {

        cursor: pointer;
        background-position:left;
        color: rgb(25,48,84);
 
    }

    .shopLinkText {
        font-size: 1.3vmax;
        margin: 0;
        padding: 0;

    }



    @media only screen and (min-width: 1001px) and (max-width: 1200px) {
        .shopLinkText {
            font-size: 2vmax;
        }

        .homeP {
            font-size: 2vmax;
        }

        .homeTitle {
            font-size: 4.2vmax;
        }

        .shopLink {
            width: 12vw;
        }
    }

    @media only screen and (max-width: 1000px) 
    {

        .shopLinkText {
            font-size: 1.8vmax;
        }

        .homeP {
            font-size: 2vmax;
        }

        .homeTitle {
            font-size: 4.2vmax;
        }

        .shopLink {
            width: 16vw;
            min-width: 100px;
        }
        .home {
            flex-direction: column;
        }

        .homeText {
            width: 100vw;
            height: 50vh;
            margin-top: 7%;
        }

        .homeImage {
            width: 100vw;
            height: 50vh;
        }

    }
        
.shop {
    margin-top: 8vh;
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: seashell;
    /* background-image: url("./Images/shopBack.png");
    background-size: cover; */
}


    .shopWindow {
        margin-top: 5vh;
        height: inherit;
        width: 100%;
    }

    .shopGrid {
        height: inherit;
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        justify-items: center;
        flex-direction: column;
    }

    .gridRow {
        position: relative;
        display: flex;
        width: inherit;
        height: 40vh;
        flex-direction: row;
        z-index: 2;

    }

    .gridRow3 {
        position: relative;
        justify-content:flex-end;
        height: 60vh;
        z-index: 1;
    }

    .itemCard {
        display: flex;
        box-sizing: border-box;
        object-fit: cover;
        transition: all 0.4s ease-in-out;
    }

    .itemCard:hover {
        cursor: pointer;
        opacity: 0.7;
        
    }

    .position1 {
        width: 50%;
        height: 100%;

    }

    .position2 {
        width: 30%;
        height: 100%;

    }

    .position3 {
        width: 30%;
        height: 250%;


    }
    .position4 {
        width: 40%;
        height: inherit;

    }

    .position5 {
        width: 30%;
        height: inherit;

    }

    .position6 {
        width: 60%;
        height: inherit;
        
    }
    .position7 {
        width: 25%;
        height: inherit;

    }

    .position8 {
        width: 39.55%;
        height: inherit;

    }

    .position9 {
        width: 37.5%;
        height: inherit;
        
    }

    .shopText { 
        height: inherit;
        background: linear-gradient(90deg, rgba(25,48,84,1) 0%, rgba(13,195,147,1) 100%);
        padding: 0.7%;
        box-sizing: border-box;
    }

    .shopTextInner {
        height: 98%;
        background: seashell;
        padding: 0.7%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .shopText1 {
        width: 20%;
    }

    .shopText2 {
        width: 30%;
    }
    
    .shopText3 {
        width: 20%;
    }

    .shopTextDiv {
        background: linear-gradient(90deg, rgba(25,48,84,1) 0%, rgba(13,195,147,1) 100%);
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .textTitle {
        color: seashell;
        font-size: 1.4vw;
        margin: 1%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .textBody {
        color: seashell;
        font-size: 1.1vw;
        margin: 5%;
        font-weight:600;

    }

        .itemImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }

        .itemImage:hover {
            margin-bottom: 2vh;
        }

        .itemTitle {
            font-size: 2.5vh;
        }

        @media only screen and (min-width: 1001px) and (max-width: 1300px) {
        }

        @media only screen and (min-width: 501px) and (max-width: 800px) {
        .textTitle {
            font-size: 2.5vw;
        }

        .textBody {
            font-size: 1.6vw;
        }
        }

        @media only screen and (max-width: 500px) {


        }


    #modalBackground {
        display: none;
        position: absolute;
        height: 268vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
        overflow: hidden;
        padding-right: 0;
    }

    #modalBackgroundHome {
        display: none;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
        overflow: hidden;
        padding-right: 0;
    }



        .itemModal {
            bottom: 10%;
            display: none;
            position: fixed;
            width: 50vw;
            z-index: 3;
            left: 25%;
            height: 70vh;
        }


    .modalWrapper {
            bottom: 10%;
            display: flex;
            position: fixed;
            width: 50vw;
            z-index: 3;
            left: 25%;
            height: 70vh;
            padding: 1%;
            background: linear-gradient(90deg, rgba(25,48,84,1) 0%, rgba(13,195,147,1) 100%);
            flex-direction: row;
            gap: 2%;
    }


        .modalImage {
            width: 45%;
            height: 100%;
            object-fit: cover;
            border-bottom: black;
            border-right: black;
            border-bottom: solid;
            border-right: solid;
        }

        .modalDiv {
            display: flex;
            flex-direction: column;
            align-items: center;
            height:100%;
            width: 80%;
            z-index: 4;
            background-color: seashell;
            border-bottom: solid;
            border-right: solid;
            border-color: seashell;
        }

        .modalTitle {
            display: flex;
            height: 5%;
            width: inherit;
            color: black;
            font-size: 4.7vmin;
            text-decoration: underline;
            margin-top: 5%;
            width: 100%;
            justify-content: center;
        }

        .modalTextDiv {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin-top: 4%;
            height: 70%;
            text-align: center;
        }

        .modalText {
            font-size: 2.5vmin;
        }

        .cartForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2vh;
            justify-content: center;
            height: 100%;
            width: 100%;

        }

        .addToCart {
            width: 20vw;
            height: 20vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        .inputWrapper {
            width: 10vmin;
            height: 3.2vmin;
            padding: 2%;
            background: linear-gradient(90deg, rgba(25,48,84,1) 0%, rgba(13,195,147,1) 100%);
        }

        

        .input {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background-color: seashell;
            font-size: 2vmin;
            border: none;
            outline: none;
            margin: 0;
            padding: 0;
        }


        .addButtonWrapper {
            background: linear-gradient(90deg, rgba(25,48,84,1) 0%, rgba(13,195,147,1) 100%);
            width: 15vmin;
            height: 4vmin;
            padding: 2%;
            
        }


        .addToCartButton {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            font-size: 2.4vmin;
            text-decoration: none;
            text-align: center;
            border: 2px solid seashell;
            transition: all .5s ease-in-out;
            box-sizing: border-box;
            background: seashell;
            

        }

        .addToCartButton:hover {
            background: linear-gradient(90deg, rgba(25,48,84,1) 0%, rgba(13,195,147,1) 100%);
            cursor: pointer;
            color: seashell;
            border: 2px solid seashell;
            
        }


        @media only screen and (min-width: 501px) and (max-width: 800px) {
            .modalText {
                font-size: 2vh;
            }
    /*        .itemModal{
                flex-direction: column;
                width: 70vw;
                right: 25%;
                left: 15%;
            }

            .itemModal{
                flex-direction: column;
                width: 70vw;
                right: 25%;
                left: 15%;
            }
            .modalImage {
                border-radius: 0.5px;
                width: 100%;
                height: 50vmax;
            }

            .modalDiv {
                width: 100%;
                height: 50vmax;
            }

            .modalTextDiv {
                width: 90%;
                height: 60%;
                margin: 0;
            }



            .modalTitle {
                font-size: 3vmax;
                margin:0;
                height: 17%;
                margin-top: 2%;
            }

            .cartForm {
                flex-direction: row;
                margin: 0;
                height: 3vmax;
            }
            .addToCart {
                height: auto;
            }

            .addToCartButton {
                width: 14vw;
                height: 3.3vmax;
                font-size: 1.6vw;
            }

            .input {
                height: 2.4vh;
                font-size: 1.6vw;
            } */
        }


        @media only screen and (max-width: 500px) {

            img {
                border-radius: 0.5px;
            }

            #modalBackground {
                height: 270vh;
            }

            .itemModal{
                flex-direction: column;
                width: 70vw;
                right: 25%;
                left: 15%;
            }

            .modalImage {
                border-radius: 0.5px;
                width: 100%;
                height: 50%;
            }

            .modalDiv {
                width: 100%;
                height: 50%;
            }

            .modalTextDiv {
                width: 90%;
                height: 75vh;
            }

            .modalText {
                font-size: 1.9vmax;
                margin: 0;
                height: 60%;
            }

            .modalTitle {
                font-size: 4vmax;
                margin-top: 2%;
                height: 12%;
            }

            .cartForm {
                flex-direction: row;
                margin: 0;
                height: 10%;
            }
            .addToCart {
                height: auto;
            }

            .addToCartButton {
                width: 14vw;
                height: 3.3vmax;
                font-size: 1.8vw;
            }

            .input {
                height: 2.4vh;
                font-size: 1.6vmax;
            }
        }
   


.navbar {
    height: 8vh;
    width: 100vw;
    min-height: 40px;
    background: seashell;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    justify-content: space-between;
    box-shadow: 0px 2px 7px rgba(0,0,0,.5);

}


    .logo {
        height:inherit;
        width: 10vw;
        color: black;
    }

    .logoText {
        font-size: 2.2vmax;
        margin: 0;
        padding: 0;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    @media only screen and (min-width: 801px) and (max-width: 1000px) {
        .logoText {
            font-size: 3.2vw;
        }
    }

    @media only screen and (min-width: 501px) and (max-width: 800px) {
        .logoText {
            font-size: 4.2vw;
        }
    }


    .cartDiv {
        height:inherit;
        width: 7%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        z-index: 5;
    }

    .cartDiv:hover {
        cursor: pointer;
    }


        .shoppingCart {
            width: 70%;
            height: 65%;
            object-fit: contain;
            z-index: 5;
            margin-top: 5%;

        }


        .cartNumber {
            font-size: 1.5vw;
            height: 13%;
            width: 30%;
            color: black;
            padding-right: 15%;
            z-index: 5;

        }


    @media only screen and (min-width: 501px) and (max-width: 1200px) {
        .cartNumber {
            font-size: 4vh;
        }

        .shoppingCart {
            height: 80%;
        }
    }

        @media only screen and (max-width: 500px) {
            .logo {
                width: 40vw;
            }
    
            .logoText {
                font-size: 9.5vw;
            }
    
            .cartDiv {
                width: 20vw;
            }
    
            .cartNumber {
                font-size: 6vw;
            }
            


        }

    .cartPreviewDiv {
        height: 92vh;
        width: 25vw;
        background-color: rgb(255, 245, 238);
        position: absolute;
        display: none;
        left: 75vw;
        flex-direction: column;
        z-index: 4;
        overflow-y: hidden ;
        overflow-x: hidden;
        margin-top: 8vh;
        box-shadow: 0px 0px 20px 2px rgb(0 0 0 / 50%);
        
    }



    .cartPreviewDiv:hover {
        cursor: default;
    }

        .cartItemsPreview {
            height: 72vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            z-index: inherit;
            gap: 5%;
            align-items: center;
            padding-top: 4vh;
            padding-bottom: 5vh;
            overflow-y: auto;
            z-index: 3;
        }

        .cartPreviewItem {
            height: inherit;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 0%;
            align-items: center;
            align-content: center;
            justify-content: center;
            background: seashell;
            margin: 0;


        }

        .removeItem {
            width: 3vw;
            height: auto;
            object-fit: cover;
            display: flex;
            cursor: pointer;
        }

        .itemBorderDiv {
            height: 10.5vh;
            width: 80.5%;
            background: linear-gradient(90deg, rgba(25,48,84,1) 0%, rgba(13,195,147,1) 100%);
            padding: 1%;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items:  center;
        }

        @media only screen and (min-width: 501px) and (max-width: 1200px) {
            .cartPreviewDiv {
                width: 35vw;
                left: 65vw;
            }

        }

        @media only screen and (max-width: 500px) {
            .cartPreviewDiv {
                width: 50vw;
                left: 50.3%;
            }

        }

            .cartPreviewPrice {
                height: fit-content;
                width: 100%;
                font-size: 1.2vmax;
                text-align: center;
            }
            

            .removeCartItem:hover {
                background-color: black;
                color:seashell;
            }


            .quantityButtons {
                height: 100%;
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10%;
                color: black;
            }

                .quantityButton {
                    cursor: pointer;
                    background-color: seashell;

                }

                .plus {
                    height: 25%;
                    width: auto;
                }

                .minus {
                    height: 20%;
                    width: auto;
                }


                .quantityButton:hover {
                    cursor: pointer;
                }
            
            .itemFirstSection {
                height: 60%;
                width: 40%;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .cartPreviewNameDiv {
                height:100%;
                width:70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
            }

            .cartPreviewName {
                height: 50%;
                width: 100%;
                font-size: 1.2vmax;

            }


            .cartPreviewQuantity {
                height: 50%;
                width: 30%;
                font-size: 1.2vmax;
            }
        

        .checkoutLink {
            border-radius: 0;
            margin: 0;
            padding: 0;
            background: linear-gradient(90deg, rgba(25,48,84,1) 0%, rgba(13,195,147,1) 100%);
            color: seashell;
            cursor: pointer;
            text-align: center;
            height: 11vh;
            z-index: 3;
            width: 100%;
            font-size: 1.2vmax;
        }

        .emptyCart {
            height: inherit;
            width:inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cartTotal {
            height: 1.5vmax;
            width: 100%;
            text-align: center;
            z-index: 2;
            background-color: seashell;
            font-size: 1.2vmax;
        }

        .totalWrapper {
                height: 1.5vmax;
                width: 100%;
                background: linear-gradient(90deg, rgba(25,48,84,1) 0%, rgba(13,195,147,1) 100%);
                padding-top: 1%;
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items:  center;
        }

        .previewLinks {
            position: absolute;
            width: 100%;
            top: 87%;
            left: 0.01%;

        }

        .endSection {
            display: flex;
            flex-direction: column;
            height: 80%;
            width: 20%;
            justify-content: center;
            align-items: center;
            gap: 20%;
        }


        @media only screen and (min-width: 501px) and (max-width: 1000px) {

            .previewLinks {
                width: 100%;
            }

            .totalWrapper {
                height: 2.5vmax;
            }

            .cartTotal {
                font-size: 2vmax;
                height: 2.5vmax
            }

            .checkoutLink {
                font-size: 2vmax;
            }

            .cartPreviewName {
                font-size: 2vmax;
            }
            .cartPreviewPrice {
                font-size: 2vmax;
            }
            .cartPreviewQuantity {
                font-size: 2vmax;
            }

        }

        @media only screen and (max-width: 500px) {

        }

a {
    text-decoration: inherit;
    color: inherit;
}

.checkoutPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    overflow: hidden;
}

.checkoutImg {
        width: 100vw;
        height: 70vh;
        background-image: url("./Images/Checkout.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        box-sizing: border-box;
}


.checkoutInfo {
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    background-color: seashell;
    font-size: 1.2vmax;
    }


.returnToShop {
    height: 6vh;
    width: 11vw;
    position: absolute;
    right: 78%;
    top: 74%;
    text-align: center;
    padding-top: 1.5%;
    padding-left: 2%;
    z-index: 2;
}

    .returnToShop:hover {
        cursor: pointer;
    }

.returnArrow {
    position: absolute;
    width: 2vw;
    object-fit: cover;
    right: 91%;
    top: 75%;
    z-index: 1;
}

.returnArrowHover {
    animation: pulse 1s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes pulse {
    100% {
        transform:translateX(10px);
    }
}


.infoWrapper {
        width: 28vw;
        height: 16vh;
        background: linear-gradient(90deg, rgba(25,48,84,1) 0%, rgba(13,195,147,1) 100%);
        padding: 0.3%;
        margin: 0;
}

@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .returnToShop {
        font-size: 1.4vmax;
    }
}


@media only screen and (max-width: 500px) {

    .checkoutPage {
        justify-content: center;
    }

    .checkoutImg {
        border-radius: 0.5px;
    }


    .checkoutInfo {
        height: 10vh;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .returnToShop {
        display: none;
    }

    .returnArrow {
        left: 1%;
        top: 72vh;
        width: 6vw;
        padding: 6%;
    }
}